.frame_player {
	z-index: 1; 
	position:absolute;
	left:2px;
	top:28px;
	width:154px;
	height:201px;
}

.frame_cargo {
	z-index: 50;
	position:absolute;
	left:2px;
	top:232px;
	width:305px;
	height:188px;
}

.frame_shoutbox {
	z-index: 100;
	position:absolute;
	left:159px;
	top:28px;
	width:701px;
	height:50px;
}

.frame_news {
	z-index: 150;
	position:absolute;
	left:159px;
	top:622px;
	width:687px;
	height:46px;
}

.frame_traderoutes {
	z-index: 200;
	position:absolute;
	left:5px;
	top:418px;
	width:376px;
	height:154px;
}

.frame_shoutboxinput {
	z-index: 250;
	position:absolute;
	left:-17px;
	top:634px;
	width:154px;
	height:103px;
}

.frame_warplinks {
	z-index: 300;
	position:absolute;
	left:1432px;
	top:198px;
	width:170px;
	height:271px;
}

.frame_realspace {
	z-index: 350;
	position:absolute;
	left:1447px;
	top:473px;
	width:170px;
	height:166px;
}

.frame_mininav {
	z-index: 400;
	position:absolute;
	left:1432px;
	top:7px;
	width:170px;
	height:187px;
}

.frame_planet_display {
	z-index: 500;
	position:absolute;
	left:402px;
	top:72px;
	width:582px;
	height:519px;
}

.frame_enemy_display {
	z-index: 550;
	position:absolute;
	left:981px;
	top:175px;
	width:443px;
	height:438px;
}

.frame_sectordefense_display {
	z-index: 600;
	position:absolute;
	left:980px;
	top:18px;
	width:173px;
	height:136px;
}

.frame_footer {
	z-index: 650;
	position:absolute;
	left:400px;
	top:250px;
	width:300px;
	height:240px;
}